@use '/src/variables' as *;

.Options{
    font-family: $font-poppins;
    font-size: $font-size-title;
    font-style: normal;
    line-height: normal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly ;
    align-items: center;
    text-align: center;

    .Options-option{
        color: $white;
        font-weight: 300;
        cursor: pointer;
        line-height: 40px;
        text-decoration: none;
        letter-spacing: 3px;
        font-size:$font-size-title ;
        background: linear-gradient(to right, #ffff, #0000); 
        -webkit-background-clip: text; 
        color: transparent;
        transition: background 0.8s; 

    }
    
    .Options-option:hover {
        background: linear-gradient(to top, $black, $white); 
        -webkit-background-clip: text; 
        color: transparent; 
    }

    @media only screen and (max-width: $screen-sm ) {
        .Options{
            font-size: $font-size-small;
        }
    }

}