@use '/src/variables' as *;

.button-pagination{
   width: 45px;
   height: 35px;
   font-size: 18px;
   border-radius: 5px;
   background-color: transparent;
   border: none;
   color: $green;
   font-family: $font-poppins;
   cursor: pointer;
}

.button-pagination:hover{
   background-color: $gray-input;
   cursor: pointer;
}

.is-selected {
   border: 1.5px solid $blue;
   background-color: transparent;
   cursor: not-allowed;
}