@use '/src/variables' as *;

.content-white {
    margin-top: 100px; 
    z-index: 3;
    background-color: $white;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
    padding: 1rem 5%;
    
}

.title-content{
    text-align: center;
    @include non-margins-and-paddings;
    color: $black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: $font-pacifico;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1rem;
}

@media only screen and (min-width: $screen-xl) {
    .content-white {
        padding: 1rem 20%;
    }
}
@media only screen and (max-width: $screen-lg) {
    .content-white {
        padding: 1rem 5%;
    }
}

@media only screen and (min-width: $screen-sm) {
    .content-white {
        padding: 1rem 10%;
    }
}

@media only screen and (max-width: $screen-sm) {
    .title-content{
        position: absolute;
    }
    .content-white {
        padding: 1rem 10%;
    }
}


