@use '/src/variables' as *;

.product-size-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 3rem;
    border-bottom: 3px solid $gray-divider ;
    font-size: 25px;
    font-weight: 400;
    font-family: $font-poppins;

    .menu-size-name{
        @include non-margins-and-paddings;
        color: $black;
        text-align: justify;
        padding-left: 1.2rem;
    
    }

    .menu-price{
        @include non-margins-and-paddings;
        color: $orange;
    }
}