@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&family=Delius+Unicase:wght@400;700&family=Open+Sans&family=Pacifico&family=Poppins:wght@200&display=swap');@mixin non-margins-and-paddings {
  margin: 0;
  padding: 0;
}

@mixin center-content {
  display: flex;
  flex-direction: column; 
  align-items: center; /* Centramos los elementos verticalmente */
  justify-content: center; /* Centramos los elementos horizontalmente */
  height: 100vh; /* Ajustamos la altura para ocupar toda la ventana */
  margin: 0; /* Eliminamos el margen */
  padding: 0; /* Eliminamos el padding */
}

// --COLOR PALETTE--
$white: #ffffff;
$gray-background: #f6F6F6;
$gray-input: #e4e4e4;
$gray-disable: #ceced0;
$gray-divider: #c4c4c4;
$gray-helper: #a5a8a8;

$dark-gray: #585858;
$black: #020d12;
$orange:#D77821;
$green:#4290a8;
$blue: #1677ff;

// --- FONT STYLES ---

//FONT FAMILY
$font-family: 'Comfortaa', cursive;
$font-pacifico: 'Delius Unicase', cursive;
$font-poppins: 'Poppins', sans-serif;

//FONT SIZES
$font-size-small: 12px;
$font-size-body: 15px;
$font-size-subtitle: 18px;
$font-size-navbar: 23px;
$font-size-title: 30px;
$font-size-extra: 32px;

//FONT WEIGHT
$font-weight-ligth: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


//---OTHER STYLES---

//BORDERS
$boder: 2px solid $gray-disable;
$border-radius-regular: 16px;
$border-radius-large: 20px;

// SCREEN WIDTH
$screen-sm: 400px;
$screen-md: 800px;
$screen-lg: 1100px;
$screen-xl: 1300px;

