@use "/src/variables" as *;

.summary-table {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    min-width: 600px;

    table {
        margin-top: 2rem;
        overflow-x: scroll;
    }

    thead {
        th {
            border-bottom: 2px solid $gray-helper;
        }
    }

    .table-titles {
        font-family: $font-pacifico;
        text-align: left;
        padding-right: 1rem;
    }

    .customer {
        width: 150px;
    }

    .qty {
        text-align: center;
        width: 70px;
    }

    .drink,
    .size {
        width: 300px;
    }

    .total-cost {
        font-weight: 700;
    }
}

@media only screen and (max-width: $screen-sm) {
    .summary-table {
        margin-top: 32px;
    }
}
